@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;700&display=swap');font-family: 'Outfit', sans-serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 300px;
    box-shadow: 10px 10px 20px 20px rgba(25, 25, 25, 0.301);
    padding: 30px;
    border-radius: 20px;
    background-color: hsl(216, 50%, 16%);
}
.card-img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}
.equili{
    color: white;
    font-family: 600;
}
.para{
    color: hsl(215, 51%, 70%);
    font-weight:300;
}
.time{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.ethe-icon{
    display: flex;
    justify-content: space-between;
    color:hsl(178, 100%, 50%);
    font-weight: 400;
}
.ethe-icon span{
    margin-left: 6px;
}
.time-icon{
    display: flex;
    justify-content: space-between;
    color: hsl(215, 51%, 70%);

}
.time-icon span{
    margin-left: 6px; 
}
hr{
    color: hsl(215, 32%, 27%);
}
.hero{
    display: flex;
    margin-top: 20px;
    

}
.hero img{
    height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 100%;
}
.creation{
    color: hsl(215, 32%, 27%);
    margin-left: 20px;
}
.name{
    color: rgb(172, 170, 170);
}
